.topMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 10%; /* alterar para 10% na tela grande */

    background: #151516;
    color: white;

    .selectionClubs {    
        select{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.8rem;
            color: #f1f4f8;

            border: none;
            border-bottom: solid 2px #7d41e4;

            background: transparent;

            width: 12rem;
            margin-left: 1.5rem;
            padding-bottom: 0.3rem;

            outline: none;
        }
        select:focus{
            background: #151516;
            color: white;
        }
    }

    .menuCard{
        display: flex;
        flex-direction: column;

        font-family: Arial, Helvetica, sans-serif;

        height: auto;
        width: 280px;

        margin-right: 1.5rem;

        .data{
            p {
                font-size: 1rem;
                font-weight: 200;
                color: #4D4C52;
                opacity: 0.9;
                
                text-align: end;
            }
        }
        .nameInfo{
            display: flex;
            justify-content: flex-end;

            background: #4D4C52;
            border-radius: 10px;
            padding: 0.5rem;

            text-align: end;

            button{
                display: flex;
                align-items: center;

                height: 3.0rem;
                width: 1rem;

                border: none;
                background: none;

                font-size: 50px;
                color: #C1BEC7;
            }

            img{ 
                height: 50px;
                width: 60px;
                border-radius: 5px;
            }

            h3{
                margin-left: 2.8rem;
                margin-right: 1rem;
            }

            h4{
                margin-right: 1rem;
            }
        }
    }

}